.sign{
	display:flex;
	justify-content:center;
	align-items: center;
	height: 100%
}
h1{
	font-family: Arial;
	font-size: 10vw;
}
html{
	height:100%;
}
body{
	height:100%;
	background: black;
}
.on{
	color: red;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow{
	from{
		text-shadow: 0 0 10px #ff3333;
		color:red;
	}
	to{
		text-shadow: 0 0 20px #ff3333;
		color:red;
	}
}
.off{
	color:maroon;
}
